
  <ui-view></ui-view>

    <footer class="foot">
      <div class="container-fluid">
          <hr>
          <div class="row row-centered">
            <div class="col-xs-3.75 col-centered">
              <a href="#" class="footView">View Friends</a>
            </div>
            <div class="col-xs-3.75 col-centered">
              <a href="#" class="footFind">Find Friends</a>
            </div>
            <div class="col-xs-4.5 col-centered">
              <a href="#" class="footUpdate">Update Profile</a>
            </div>
          </div>
      </div>
    </footer>
