<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body> -->
    <footer class="foot">
					<hr>
					<div class="row row-centered">
						<div class="col-xs-3.75 col-centered">
							<a href="#" class="footView">View Friends</a>
						</div>
						<div class="col-xs-3.75 col-centered">
							<a href="#" class="footFind">Find Friends</a>
						</div>
						<div class="col-xs-4.5 col-centered">
							<a href="#" class="footUpdate">Update Profile</a>
						</div>
					</div>
		</footer>
  <!-- </body>
</html> -->
