<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body> -->
    <header class="head">
          <div class="row row-centered">
            <div class="col-xs-2 col-centered">
              <img src="./images/Icons/Search.svg" alt="Search" />
            </div>
            <div class="col-xs-8 col-centered">
              <p class="lalPFont">Lal's<p>
            </div>
            <div class="col-xs-2 col-centered">
              <img src="./images/Icons/Ham.svg" alt="Menu" />
            </div>
          <hr>
      </div>
    </header>
  <!-- </body>
</html> -->
