

		<div class="container-fluid landing">
		    <div class="row row-centered">
		        <div class="col-xs-8 col-sm-6 createProfile">
		              <h1 class="firstName">{{landingVM.profile.firstName}}</h1>
                  <h1 class="lastName">{{landingVM.profile.lastName}}</h1>
                  <p class="tagLine">{{landingVM.profile.tagline}}</p>
                  <p class="bio">{{landingVM.profile.bio}}</p>
		        </div>
		        <div class="col-xs-4 col-sm-6 photo">
								<img ng-src="{{landingVM.profile.imageUrl}}" class="img-fluid imgPhoto"/>
						</div>
		    </div>
		</div>
